@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

