.contenedor {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    border: #3289C8 1px double;
}

.contenedor p {
    border: black;
}

input:focus {
    outline: none;
}

img {
    width: 160px;
    padding: 0 auto;
    border-radius: 100%;
}

h1 {
    font-size: 35px;
}

#text {
    background-color: rgb(209, 234, 250);
    border: rgb(255, 255, 255) 1px solid;
    padding: 12px;
    border-radius: 10px;
}

button {
    cursor: pointer;
}


#but1 {
    background-color: rgb(209, 234, 250);
    border: rgb(219, 222, 251) 2px solid;
    padding: 5px;
    color: rgb(115, 115, 245);
}

#but1:active {
    background-color: #3289C8;
    color: white;
}

#but2 {
    background-color: rgb(202, 202, 202);
    border: rgb(4, 135, 241) 2px solid;
    padding: 7px;
    ;
}

a:hover {
    color: cornflowerblue;
}

::placeholder {
        color: #5584AC;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}